In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Lista de población por paises para cálculo de porcentajes

In [6]:
paises_europa_poblacion = [
    {"pais": "Albania", "poblacion": 2830000},
    {"pais": "Alemania", "poblacion": 84075075},
    {"pais": "Andorra", "poblacion": 86000},
    {"pais": "Armenia", "poblacion": 2960000},
    {"pais": "Austria", "poblacion": 9158750},
    {"pais": "Azerbaiyán", "poblacion": 10148000},
    {"pais": "Bélgica", "poblacion": 11830000},
    {"pais": "Belarús", "poblacion": 9166000},
    {"pais": "Bosnia y Herzegovina", "poblacion": 3301000},
    {"pais": "Bulgaria", "poblacion": 6445481},
    {"pais": "Chipre", "poblacion": 933505},
    {"pais": "Croacia", "poblacion": 3861967},
    {"pais": "Dinamarca", "poblacion": 5961249},
    {"pais": "Eslovaquia", "poblacion": 5426000},
    {"pais": "Eslovenia", "poblacion": 2101000},
    {"pais": "España", "poblacion": 47889958},
    {"pais": "Estonia", "poblacion": 1374687},
    {"pais": "Finlandia", "poblacion": 5603851},
    {"pais": "Francia", "poblacion": 66650804},
    {"pais": "Georgia", "poblacion": 3686000},
    {"pais": "Grecia", "poblacion": 10430000},
    {"pais": "Hungría", "poblacion": 9647000},
    {"pais": "Irlanda", "poblacion": 5234000},
    {"pais": "Islandia", "poblacion": 377689},
    {"pais": "Italia", "poblacion": 59146260},
    {"pais": "Kazajistán", "poblacion": 20182003},
    {"pais": "Kosovo", "poblacion": 1845000},
    {"pais": "Letonia", "poblacion": 1819000},
    {"pais": "Liechtenstein", "poblacion": 39822},
    {"pais": "Lituania", "poblacion": 2667000},
    {"pais": "Luxemburgo", "poblacion": 672000},
    {"pais": "Malta", "poblacion": 563000},
    {"pais": "Moldavia", "poblacion": 2600000},
    {"pais": "Mónaco", "poblacion": 36157},
    {"pais": "Montenegro", "poblacion": 622000},
    {"pais": "Noruega", "poblacion": 5514000},
    {"pais": "Países Bajos", "poblacion": 17877000},
    {"pais": "Polonia", "poblacion": 38140910},
    {"pais": "Portugal", "poblacion": 10301000},
    {"pais": "Reino Unido", "poblacion": 69551332},
    {"pais": "República Checa", "poblacion": 10900555},
    {"pais": "Rumanía", "poblacion": 18837000},
    {"pais": "Rusia", "poblacion": 143997393},
    {"pais": "San Marino", "poblacion": 33614},
    {"pais": "Serbia", "poblacion": 6618000},
    {"pais": "Suecia", "poblacion": 10551000},
    {"pais": "Suiza", "poblacion": 8887000},
    {"pais": "Turquía", "poblacion": 85664944},
    {"pais": "Ucrania", "poblacion": 38980376}
]

## IMPORTADO DE DATAFRAMES

### Consumo de frutas y vegetales(Antonio David)

In [7]:
#DATAFRAME DE CONSUMO DE FRUTAS Y VERDURAS EN 2019 ENTRE PERSONAS DE 15 A 24 AÑOS EN LA UNIÓN EUROPEA(ANTONIO D)
%store -r df_frutas
df_frutas.head()

no stored variable or alias df_frutas

NameError: name 'df_frutas' is not defined

### Calidad del aire(Filotea)

In [ ]:
#DATAFRAME CALIDAD DEL AIRE(FILOTEA)
%store -r df_aqi
df_aqi.head()

       country   aqi_medio  mediciones
0       Suecia  102.391667         360
1  Reino Unido  103.044444         360
2      Polonia  104.291667         360
3     Alemania  104.422222         360
4       Italia  105.033333         360

### Salud mental(Rubén)

ESTE ESTUDIO MUESTRA EL PORCENTAJE DE POBLACIÓN QUE PADECE EL TRASTORNO MENTAL INDICADO (ESQUIZOFRENIA, DEPRESION, ANSIEDAD, BIPOLARIDAD Y DESORDEN ALIMENTICIO) EN DISTINTOS AÑOS. Es decir 0.223 = 0.223% = 0.223 personas de cada 100.

In [8]:
#DATAFRAME SALUD MENTAL(RUBEN)
%store -r df_saludMentalEuropa2019
df_saludMentalEuropa2019.head()

,Entity,Code,Year,Schizophrenia,Depression,Anxiety,Bipolar,Eating
89,Albania,ALB,2019,0.287501,2.460203,3.837537,0.542009,0.136648
209,Andorra,AND,2019,0.286518,3.607207,5.453410,0.934813,0.520892
419,Austria,AUT,2019,0.276745,3.125201,6.006434,0.900435,0.562230
599,Belarus,BLR,2019,0.277324,3.824539,3.483199,0.520889,0.134182
629,Belgium,BEL,2019,0.274168,3.542022,5.047240,0.900314,0.436819

### Desempleo(Álvaro)

In [28]:
#DATAFRAME DESEMPLEO(ALVARO)
#%store -r df_desempleo
#df_desempleo.head()

### Educación(Verónica)

In [29]:
#DATAFRAME EDUCACION(VERONICA)
#%store -r df_educacion
#df_educacion.head()

## ANÁLISIS