In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Lista de población por paises para cálculo de porcentajes

In [2]:
paises_europa_poblacion = [
    {"pais": "Albania", "poblacion": 2830000},
    {"pais": "Alemania", "poblacion": 84075075},
    {"pais": "Andorra", "poblacion": 86000},
    {"pais": "Armenia", "poblacion": 2960000},
    {"pais": "Austria", "poblacion": 9158750},
    {"pais": "Azerbaiyán", "poblacion": 10148000},
    {"pais": "Bélgica", "poblacion": 11830000},
    {"pais": "Belarús", "poblacion": 9166000},
    {"pais": "Bosnia y Herzegovina", "poblacion": 3301000},
    {"pais": "Bulgaria", "poblacion": 6445481},
    {"pais": "Chipre", "poblacion": 933505},
    {"pais": "Croacia", "poblacion": 3861967},
    {"pais": "Dinamarca", "poblacion": 5961249},
    {"pais": "Eslovaquia", "poblacion": 5426000},
    {"pais": "Eslovenia", "poblacion": 2101000},
    {"pais": "España", "poblacion": 47889958},
    {"pais": "Estonia", "poblacion": 1374687},
    {"pais": "Finlandia", "poblacion": 5603851},
    {"pais": "Francia", "poblacion": 66650804},
    {"pais": "Georgia", "poblacion": 3686000},
    {"pais": "Grecia", "poblacion": 10430000},
    {"pais": "Hungría", "poblacion": 9647000},
    {"pais": "Irlanda", "poblacion": 5234000},
    {"pais": "Islandia", "poblacion": 377689},
    {"pais": "Italia", "poblacion": 59146260},
    {"pais": "Kazajistán", "poblacion": 20182003},
    {"pais": "Kosovo", "poblacion": 1845000},
    {"pais": "Letonia", "poblacion": 1819000},
    {"pais": "Liechtenstein", "poblacion": 39822},
    {"pais": "Lituania", "poblacion": 2667000},
    {"pais": "Luxemburgo", "poblacion": 672000},
    {"pais": "Malta", "poblacion": 563000},
    {"pais": "Moldavia", "poblacion": 2600000},
    {"pais": "Mónaco", "poblacion": 36157},
    {"pais": "Montenegro", "poblacion": 622000},
    {"pais": "Noruega", "poblacion": 5514000},
    {"pais": "Países Bajos", "poblacion": 17877000},
    {"pais": "Polonia", "poblacion": 38140910},
    {"pais": "Portugal", "poblacion": 10301000},
    {"pais": "Reino Unido", "poblacion": 69551332},
    {"pais": "República Checa", "poblacion": 10900555},
    {"pais": "Rumanía", "poblacion": 18837000},
    {"pais": "Rusia", "poblacion": 143997393},
    {"pais": "San Marino", "poblacion": 33614},
    {"pais": "Serbia", "poblacion": 6618000},
    {"pais": "Suecia", "poblacion": 10551000},
    {"pais": "Suiza", "poblacion": 8887000},
    {"pais": "Turquía", "poblacion": 85664944},
    {"pais": "Ucrania", "poblacion": 38980376}
]

## IMPORTADO DE DATAFRAMES

### Consumo de frutas y vegetales(Antonio David)

In [3]:
#DATAFRAME DE CONSUMO DE FRUTAS Y VERDURAS EN 2019 ENTRE PERSONAS DE 15 A 24 AÑOS EN LA UNIÓN EUROPEA(ANTONIO D)
%store -r df_frutas
df_frutas.head()

no stored variable or alias df_frutas

NameError: name 'df_frutas' is not defined

### Calidad del aire(Filotea)

In [ ]:
#DATAFRAME CALIDAD DEL AIRE(FILOTEA)
%store -r df_aqi
df_aqi.head()

### Salud mental(Rubén)

ESTE ESTUDIO MUESTRA EL PORCENTAJE DE POBLACIÓN QUE PADECE EL TRASTORNO MENTAL INDICADO (ESQUIZOFRENIA, DEPRESION, ANSIEDAD, BIPOLARIDAD Y DESORDEN ALIMENTICIO) EN DISTINTOS AÑOS. Es decir 0.223 = 0.223% = 0.223 personas de cada 100.

In [ ]:
#DATAFRAME SALUD MENTAL(RUBEN)
%store -r df_saludMentalEuropa2019
df_saludMentalEuropa2019.head()

### Desempleo(Álvaro)

In [8]:
#DATAFRAME DESEMPLEO(ALVARO)
%store -r df_final_europa_desempleo
df_final_europa_desempleo.head()

no stored variable or alias df_final_europa_desempleo

  ID_Pais         Pais    Sexo                Edad  Desempleo
0     AUT      Austria  Female  15 to 24 years old     7944.0
1     BEL      Belgium  Female  15 to 24 years old    12275.0
2     BGR     Bulgaria  Female  15 to 24 years old     8322.0
3     BLR      Belarus  Female  15 to 24 years old     7344.0
4     CHE  Switzerland  Female  15 to 24 years old     7166.0

In [6]:
df_final_europa_desempleo = pd.read_csv(
    "dataframes_limpios/df_desempleo_sexo_pais_resumen.csv"
)

df_final_europa_desempleo.head()

              Pais     Female       Male      Total  Brecha (F - M)
0  North Macedonia  115102.00  100157.00  215259.00        14945.00
1           Greece  116983.00   92751.00  209734.00        24232.00
2            Spain   84953.99   74310.45  159264.44        10643.54
3            Italy   84637.00   73700.00  158337.00        10937.00
4           Serbia   81984.00   71798.00  153782.00        10186.00

### Educación(Verónica)

In [ ]:
#DATAFRAME EDUCACION(VERONICA)
#%store -r df_educacion
#df_educacion.head()

## ANÁLISIS

### SCATTER. CORRELACIÓN entre consumo de frutas y verduras y enfermedades mentales

In [ ]:

df_frutas = pd.read_csv("dataframes_limpios/df_frutas.csv")
df_saludMental = pd.read_csv("dataframes_limpios/df_saludMentalEuropa2019.csv")


# df_frutas: Agrupar por país y calcular el consumo promedio
# (Esto resuelve tener múltiples filas por país debido a la columna 'age')
df_frutas_promedio = df_frutas.groupby('country')['value'].mean().reset_index()
df_frutas_promedio.rename(columns={'value': 'Avg_Fruit_Veg_Consumption'}, inplace=True)

# df_saludMental: Calcular el total de enfermedades mentales (igual que antes)
disease_columns = ['Schizophrenia', 'Depression', 'Anxiety', 'Bipolar', 'Eating']
df_saludMental['Total_Mental_Disorders'] = df_saludMental[disease_columns].sum(axis=1)
df_saludMental_preparado = df_saludMental[['country', 'Total_Mental_Disorders']].copy()

# 3. Unir los DataFrames
df_combinado = pd.merge(
    df_frutas_promedio,
    df_saludMental_preparado,
    on='country',
    how='inner'
)

# 4. Calcular la Correlación de Pearson (para entender la relación)
correlation = df_combinado['Avg_Fruit_Veg_Consumption'].corr(
    df_combinado['Total_Mental_Disorders']
)

# 5. Crear el gráfico de dispersión mejorado
plt.figure(figsize=(10, 6))
sns.scatterplot(
    data=df_combinado,
    x='Avg_Fruit_Veg_Consumption',
    y='Total_Mental_Disorders'
)

# Añadir línea de regresión
sns.regplot(
    data=df_combinado,
    x='Avg_Fruit_Veg_Consumption',
    y='Total_Mental_Disorders',
    scatter=False,
    color='red',
    line_kws={'linestyle': '--', 'alpha': 0.7}
)

#anotación de correlación
plt.text(
    x=df_combinado['Avg_Fruit_Veg_Consumption'].max() * 0.95,
    y=df_combinado['Total_Mental_Disorders'].min(),
    s=f'Correlación (ρ): {correlation:.2f}',
    fontsize=12,
    ha='right',
    bbox=dict(facecolor='white', alpha=0.6, edgecolor='gray')
)

#Etiquetas y Título
plt.title('Correlación entre Consumo Promedio de Frutas/Verduras y Total de Trastornos Mentales')
plt.xlabel('Consumo Promedio de Frutas y Verduras (Asumo: % de población con consumo diario)')
plt.ylabel('Suma de Tasas de Prevalencia de Trastornos Mentales')
plt.grid(True, linestyle=':', alpha=0.6)
plt.show()

print(f"\nCoeficiente de Correlación de Pearson (ρ): {correlation:.2f}")
print("Primeras filas del DataFrame combinado usado para el gráfico:")
print(df_combinado.head(31))

In [ ]:

trastornos_cols = ['Schizophrenia', 'Depression', 'Anxiety', 'Bipolar', 'Eating']

#Suma de enfermedades
df_saludMentalEuropa2019['Total_Trastornos'] = df_saludMentalEuropa2019[trastornos_cols].sum(axis=1)


df_salud_mental_total = df_saludMentalEuropa2019[['country', 'Total_Trastornos']].copy()
df_salud_mental_total.rename(columns={'country': 'país'}, inplace=True) # Renombrar para facilitar la unión
#cambiamos a pais en vez de country
df_aqi.rename(columns={'country': 'país'}, inplace=True)

#Combinar dataframes
df_combinado_aqi_salud = pd.merge(
    df_aqi[['país', 'aqi_medio']],
    df_salud_mental_total,
    on='país',
    how='inner'
)

plt.figure(figsize=(10, 6))

#Linea de regresion
sns.regplot(
    data=df_combinado_aqi_salud,
    x='aqi_medio',
    y='Total_Trastornos',
    scatter_kws={'alpha': 0.7, 's': 80},
    line_kws={'color': 'red', 'linestyle': '--'} 
)

#Etiquetas de país a los puntitos
for i in range(df_combinado_aqi_salud.shape[0]):
    plt.text(
        df_combinado_aqi_salud['aqi_medio'].iloc[i],
        df_combinado_aqi_salud['Total_Trastornos'].iloc[i],
        '  ' + df_combinado_aqi_salud['país'].iloc[i],
        horizontalalignment='left',
        size='small',
        color='black',
        weight='semibold'
    )

#Etiquetas y Título
plt.title('Correlación entre Calidad del Aire (AQI) y Trastornos Mentales (Europa 2019)')
plt.xlabel('AQI Medio (Índice de Calidad del Aire)')
plt.ylabel('Suma de Tasas de Prevalencia de Trastornos Mentales')
plt.grid(True, linestyle=':', alpha=0.6)
plt.tight_layout()
plt.show()

#Calcular y mostrar el Coeficiente de Correlación de Pearson
correlation = df_combinado_aqi_salud['aqi_medio'].corr(df_combinado_aqi_salud['Total_Trastornos'])
print(f"\nCoeficiente de Correlación de Pearson (ρ): {correlation:.2f}")
print("\nPrimeras filas del DataFrame combinado usado para el gráfico:")
print(df_combinado_aqi_salud.head())